*,
*::before,
*::after {
  box-sizing: content-box;
}

h1 {
color: black;
background-color: gold;

}


body {
  text-align: center;
  background-color:antiquewhite;
  font-family: sans-serif;

}

.text-next-to-img {
  display: grid;
  grid-template-columns: 70% auto; 
}

.img-left {

  grid-template-columns: auto 70%; 

}

.text-next-to-img > .text {
  border: 1px gold;
  padding: 1rem 2rem;
}

.text-next-to-img > img {
  width: 70%;
  
}


